body {
    min-width: 320px;
    max-width: 120px;
    margin: 0 auto;
}
.header {
    padding: 15px;
}

.header__link {
    display: flex;
    text-decoration: none;
}
.header__logo {
    width: 300px;
    height: 100px;
}
.header__modal-wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2.5px);
}
.header__modal {
    position: relative;
    background-color: lightskyblue;
    width: 600px;
    margin: auto;
    transform: translateY(-50%);
    top: 50%;
    padding: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px 0 10px 10px;
    text-align: center;
}
.header__modal-text {
    font-weight: bold;
    color: gray;
    margin: 30px auto;
    font-size: 20px;
}
.header__modal-input {
    font-size: 17px;
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}
.header__btn-submit {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 20px;
    margin: 10px auto;
    color: gray;
    border-radius: 5px;
}
.header__modal-close {
    position: absolute;
    top: -35px;
    right: -35px;
    width: 33px;
    height: 33px;
    font-size: 30px;
    font-weight: 700;
    color: lightskyblue;
    border: 2px solid;
    border-radius: 35% 35% 35% 0;
    cursor: pointer;
}
.header__btn, .header__btn-create {
    border: 2px solid lightskyblue;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
    background: lightskyblue;
    padding: 10px 125px;
    margin-top: 30px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
}
.visit {
    position: relative;
    padding: 20px;
    max-height: max-content;
    border: 3px solid gray;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.2);
    cursor: move;
}
.visit__head {
     font-weight: 900;
     font-size: 20px;
     color: gray;
     margin-bottom: 20px;
     -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: lightskyblue;
}
.visit__text {
     display: block;
     font-size: 15px;
     margin-bottom: 15px;
 }
.visit__text:first-child {
     font-size: 40px;
}
.visit__btn {
     font-weight: bold;
     color: black;
     border-radius: 10px;
     transition: .3s;
     cursor: pointer;
     padding: 5px 10px;
     font-size: 13px;
     border: 2px solid black;
 }
.visit__btn-edit {
     font-weight: bold;
     color: black;
     border-radius: 10px;
     transition: .3s;
     cursor: pointer;
     float: right;
     padding: 5px 10px;
     font-size: 13px;
     border: 2px solid black;
 }
.visit__btn-delete {
     border: 2px solid;
     font-weight: bold;
     color: black;
     transition: .3s;
     cursor: pointer;
     position: absolute;
     top: 3px;
     right: 3px;
     padding: 3px 7px;
     font-size: 10px;
     border-radius: 0 50%;
     background: lightskyblue;
 }
.selected {
    opacity: 0.6;
}

.card {
    max-width: 320px;
}

.card-body {
    position: relative;
}

.card-remove {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.edit {
    margin: 5px;
}